.card {
  border: 2px var(--text-color) solid;
  width: 330px;
  height: 330px;
  border-radius: 16px;
  margin-top: 50px;
  overflow: hidden;
}
.dog-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
